body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

@keyframes upperAnimation {
    from {top: 0%;}
    to {top: -50%;}
}

@keyframes lowerAnimation {
    from {top: 50%;}
    to {top: 100%;}
}


.upperLid {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 50%; 
    background-color: black;
    z-index: 1;
    animation-name: upperAnimation;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.lowerLid {
    position: fixed; 
    width: 100%; 
    height: 50%; 
    top: 50%;
    left: 0px; 
    background-color: black;
    z-index: 1;
    animation-name: lowerAnimation;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#glslCanvas {
    z-index: 0;;
}